WebContent/wsdl/BankService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.com" xmlns:intf="http://service.com" xmlns:tns1="http://model.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.com"/>
   <element name="createCustomer">
    <complexType>
     <sequence>
      <element name="customerData" type="tns1:CustomerData"/>
     </sequence>
    </complexType>
   </element>
   <element name="createCustomerResponse">
    <complexType>
     <sequence>
      <element name="createCustomerReturn" type="tns1:CustomerData"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAccount">
    <complexType>
     <sequence>
      <element name="accountData" type="tns1:AccountData"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAccountResponse">
    <complexType>
     <sequence>
      <element name="createAccountReturn" type="tns1:AccountData"/>
     </sequence>
    </complexType>
   </element>
   <element name="getByBalance">
    <complexType>
     <sequence>
      <element name="balance" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="getByBalanceResponse">
    <complexType>
     <sequence>
      <element name="getByBalanceReturn" type="tns1:TransactionArray"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_TransactionData">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:TransactionData"/>
    </sequence>
   </complexType>
   <element name="getByAccountID">
    <complexType>
     <sequence>
      <element name="account_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getByAccountIDResponse">
    <complexType>
     <sequence>
      <element name="getByAccountIDReturn" type="tns1:TransactionArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getByTimeStamp">
    <complexType>
     <sequence>
      <element name="time_stamp" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getByTimeStampResponse">
    <complexType>
     <sequence>
      <element name="getByTimeStampReturn" type="tns1:TransactionArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getByAmount">
    <complexType>
     <sequence>
      <element name="amount" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="getByAmountResponse">
    <complexType>
     <sequence>
      <element name="getByAmountReturn" type="tns1:TransactionArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getByDescription">
    <complexType>
     <sequence>
      <element name="description" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getByDescriptionResponse">
    <complexType>
     <sequence>
      <element name="getByDescriptionReturn" type="tns1:TransactionArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="doDeposit">
    <complexType>
     <sequence>
      <element name="account_id" type="xsd:int"/>
      <element name="amount" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="doDepositResponse">
    <complexType>
     <sequence>
      <element name="doDepositReturn" type="tns1:TransactionData"/>
     </sequence>
    </complexType>
   </element>
   <element name="doWithdraw">
    <complexType>
     <sequence>
      <element name="account_id" type="xsd:int"/>
      <element name="amount" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="doWithdrawResponse">
    <complexType>
     <sequence>
      <element name="doWithdrawReturn" type="tns1:TransactionData"/>
     </sequence>
    </complexType>
   </element>
   <element name="doFundsTransfer">
    <complexType>
     <sequence>
      <element name="fromAccountID" type="xsd:int"/>
      <element name="toAccountID" type="xsd:int"/>
      <element name="amount" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="doFundsTransferResponse">
    <complexType>
     <sequence>
      <element name="doFundsTransferReturn" type="tns1:TransactionArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByMiddleName">
    <complexType>
     <sequence>
      <element name="middle_name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByMiddleNameResponse">
    <complexType>
     <sequence>
      <element name="getCustomerDataByMiddleNameReturn" type="tns1:CustomerArray"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_CustomerData">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:CustomerData"/>
    </sequence>
   </complexType>
   <element name="getCustomerDataByID">
    <complexType>
     <sequence>
      <element name="customerID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByIDResponse">
    <complexType>
     <sequence>
      <element name="getCustomerDataByIDReturn" type="tns1:CustomerData"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTransaction">
    <complexType>
     <sequence>
      <element name="transactionData" type="tns1:TransactionData"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTransactionResponse">
    <complexType>
     <sequence>
      <element name="createTransactionReturn" type="tns1:TransactionData"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByStreet">
    <complexType>
     <sequence>
      <element name="street" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByStreetResponse">
    <complexType>
     <sequence>
      <element name="getCustomerDataByStreetReturn" type="tns1:CustomerArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByCity">
    <complexType>
     <sequence>
      <element name="city" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByCityResponse">
    <complexType>
     <sequence>
      <element name="getCustomerDataByCityReturn" type="tns1:CustomerArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountDataByBalance">
    <complexType>
     <sequence>
      <element name="balance" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountDataByBalanceResponse">
    <complexType>
     <sequence>
      <element name="getAccountDataByBalanceReturn" type="tns1:AccountArray"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_AccountData">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:AccountData"/>
    </sequence>
   </complexType>
   <element name="getCustomerDataByPhone">
    <complexType>
     <sequence>
      <element name="phone" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByPhoneResponse">
    <complexType>
     <sequence>
      <element name="getCustomerDataByPhoneReturn" type="tns1:CustomerArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllCustomerData">
    <complexType/>
   </element>
   <element name="getAllCustomerDataResponse">
    <complexType>
     <sequence>
      <element name="getAllCustomerDataReturn" type="tns1:CustomerArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountDataByID">
    <complexType>
     <sequence>
      <element name="accountID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountDataByIDResponse">
    <complexType>
     <sequence>
      <element name="getAccountDataByIDReturn" type="tns1:AccountData"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTransactionDataByID">
    <complexType>
     <sequence>
      <element name="transactionID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTransactionDataByIDResponse">
    <complexType>
     <sequence>
      <element name="getTransactionDataByIDReturn" type="tns1:TransactionData"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByLastName">
    <complexType>
     <sequence>
      <element name="last_name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByLastNameResponse">
    <complexType>
     <sequence>
      <element name="getCustomerDataByLastNameReturn" type="tns1:CustomerArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByFirstName">
    <complexType>
     <sequence>
      <element name="first_name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByFirstNameResponse">
    <complexType>
     <sequence>
      <element name="getCustomerDataByFirstNameReturn" type="tns1:CustomerArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByEmail">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByEmailResponse">
    <complexType>
     <sequence>
      <element name="getCustomerDataByEmailReturn" type="tns1:CustomerArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByState">
    <complexType>
     <sequence>
      <element name="state" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByStateResponse">
    <complexType>
     <sequence>
      <element name="getCustomerDataByStateReturn" type="tns1:CustomerArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByZip">
    <complexType>
     <sequence>
      <element name="zip" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByZipResponse">
    <complexType>
     <sequence>
      <element name="getCustomerDataByZipReturn" type="tns1:CustomerArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllAccountData">
    <complexType/>
   </element>
   <element name="getAllAccountDataResponse">
    <complexType>
     <sequence>
      <element name="getAllAccountDataReturn" type="tns1:AccountArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountDataByType">
    <complexType>
     <sequence>
      <element name="account_type" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountDataByTypeResponse">
    <complexType>
     <sequence>
      <element name="getAccountDataByTypeReturn" type="tns1:AccountArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllTransactionData">
    <complexType/>
   </element>
   <element name="getAllTransactionDataResponse">
    <complexType>
     <sequence>
      <element name="getAllTransactionDataReturn" type="tns1:TransactionArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDetailsByAccountID">
    <complexType>
     <sequence>
      <element name="account_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDetailsByAccountIDResponse">
    <complexType>
     <sequence>
      <element name="getCustomerDetailsByAccountIDReturn" type="tns1:AccountCustomerArray"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountDetailsByCustomerID">
    <complexType>
     <sequence>
      <element name="customer_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountDetailsByCustomerIDResponse">
    <complexType>
     <sequence>
      <element name="getAccountDetailsByCustomerIDReturn" type="tns1:CustomerAccountArray"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://service.com"/>
   <complexType name="CustomerData">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="customer_id" type="xsd:int"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="first_name" nillable="true" type="xsd:string"/>
     <element name="last_name" nillable="true" type="xsd:string"/>
     <element name="middle_name" nillable="true" type="xsd:string"/>
     <element name="phone" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="street" nillable="true" type="xsd:string"/>
     <element name="zip" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccountData">
    <sequence>
     <element name="account_id" type="xsd:int"/>
     <element name="account_type" nillable="true" type="xsd:string"/>
     <element name="balance" type="xsd:float"/>
    </sequence>
   </complexType>
   <complexType name="TransactionData">
    <sequence>
     <element name="account_id" type="xsd:int"/>
     <element name="amount" type="xsd:float"/>
     <element name="balance" type="xsd:float"/>
     <element name="date" nillable="true" type="xsd:string"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="transaction_id" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="TransactionArray">
    <sequence>
     <element name="transactionDataArray" nillable="true" type="impl:ArrayOf_tns1_TransactionData"/>
    </sequence>
   </complexType>
   <complexType name="CustomerArray">
    <sequence>
     <element name="customerDataArray" nillable="true" type="impl:ArrayOf_tns1_CustomerData"/>
    </sequence>
   </complexType>
   <complexType name="AccountArray">
    <sequence>
     <element name="accountDataArray" nillable="true" type="impl:ArrayOf_tns1_AccountData"/>
    </sequence>
   </complexType>
   <complexType name="AccountCustomerArray">
    <sequence>
     <element name="account_id" type="xsd:int"/>
     <element name="customerDataArray" nillable="true" type="impl:ArrayOf_tns1_CustomerData"/>
    </sequence>
   </complexType>
   <complexType name="CustomerAccountArray">
    <sequence>
     <element name="accountDataArray" nillable="true" type="impl:ArrayOf_tns1_AccountData"/>
     <element name="customer_id" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getByAmountResponse">

      <wsdl:part element="impl:getByAmountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getByTimeStampResponse">

      <wsdl:part element="impl:getByTimeStampResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doWithdrawResponse">

      <wsdl:part element="impl:doWithdrawResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doWithdrawRequest">

      <wsdl:part element="impl:doWithdraw" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByStateRequest">

      <wsdl:part element="impl:getCustomerDataByState" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByCityResponse">

      <wsdl:part element="impl:getCustomerDataByCityResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByMiddleNameResponse">

      <wsdl:part element="impl:getCustomerDataByMiddleNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllAccountDataRequest">

      <wsdl:part element="impl:getAllAccountData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doDepositRequest">

      <wsdl:part element="impl:doDeposit" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getByAccountIDRequest">

      <wsdl:part element="impl:getByAccountID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByZipRequest">

      <wsdl:part element="impl:getCustomerDataByZip" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTransactionRequest">

      <wsdl:part element="impl:createTransaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doDepositResponse">

      <wsdl:part element="impl:doDepositResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAccountRequest">

      <wsdl:part element="impl:createAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByIDResponse">

      <wsdl:part element="impl:getCustomerDataByIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getByAccountIDResponse">

      <wsdl:part element="impl:getByAccountIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doFundsTransferRequest">

      <wsdl:part element="impl:doFundsTransfer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountDataByBalanceRequest">

      <wsdl:part element="impl:getAccountDataByBalance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doFundsTransferResponse">

      <wsdl:part element="impl:doFundsTransferResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAccountResponse">

      <wsdl:part element="impl:createAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDetailsByAccountIDRequest">

      <wsdl:part element="impl:getCustomerDetailsByAccountID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCustomerResponse">

      <wsdl:part element="impl:createCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountDataByTypeResponse">

      <wsdl:part element="impl:getAccountDataByTypeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByEmailRequest">

      <wsdl:part element="impl:getCustomerDataByEmail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByZipResponse">

      <wsdl:part element="impl:getCustomerDataByZipResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getByDescriptionRequest">

      <wsdl:part element="impl:getByDescription" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByStreetRequest">

      <wsdl:part element="impl:getCustomerDataByStreet" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByLastNameRequest">

      <wsdl:part element="impl:getCustomerDataByLastName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByCityRequest">

      <wsdl:part element="impl:getCustomerDataByCity" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountDetailsByCustomerIDResponse">

      <wsdl:part element="impl:getAccountDetailsByCustomerIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByStateResponse">

      <wsdl:part element="impl:getCustomerDataByStateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getByBalanceRequest">

      <wsdl:part element="impl:getByBalance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCustomerDataResponse">

      <wsdl:part element="impl:getAllCustomerDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllTransactionDataResponse">

      <wsdl:part element="impl:getAllTransactionDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountDataByIDResponse">

      <wsdl:part element="impl:getAccountDataByIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getByDescriptionResponse">

      <wsdl:part element="impl:getByDescriptionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByFirstNameRequest">

      <wsdl:part element="impl:getCustomerDataByFirstName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getByAmountRequest">

      <wsdl:part element="impl:getByAmount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllAccountDataResponse">

      <wsdl:part element="impl:getAllAccountDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTransactionDataByIDResponse">

      <wsdl:part element="impl:getTransactionDataByIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCustomerDataRequest">

      <wsdl:part element="impl:getAllCustomerData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountDataByIDRequest">

      <wsdl:part element="impl:getAccountDataByID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountDetailsByCustomerIDRequest">

      <wsdl:part element="impl:getAccountDetailsByCustomerID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getByTimeStampRequest">

      <wsdl:part element="impl:getByTimeStamp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountDataByTypeRequest">

      <wsdl:part element="impl:getAccountDataByType" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getByBalanceResponse">

      <wsdl:part element="impl:getByBalanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCustomerRequest">

      <wsdl:part element="impl:createCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByIDRequest">

      <wsdl:part element="impl:getCustomerDataByID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByPhoneResponse">

      <wsdl:part element="impl:getCustomerDataByPhoneResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByLastNameResponse">

      <wsdl:part element="impl:getCustomerDataByLastNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDetailsByAccountIDResponse">

      <wsdl:part element="impl:getCustomerDetailsByAccountIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllTransactionDataRequest">

      <wsdl:part element="impl:getAllTransactionData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByPhoneRequest">

      <wsdl:part element="impl:getCustomerDataByPhone" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByMiddleNameRequest">

      <wsdl:part element="impl:getCustomerDataByMiddleName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountDataByBalanceResponse">

      <wsdl:part element="impl:getAccountDataByBalanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTransactionDataByIDRequest">

      <wsdl:part element="impl:getTransactionDataByID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByFirstNameResponse">

      <wsdl:part element="impl:getCustomerDataByFirstNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTransactionResponse">

      <wsdl:part element="impl:createTransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByStreetResponse">

      <wsdl:part element="impl:getCustomerDataByStreetResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByEmailResponse">

      <wsdl:part element="impl:getCustomerDataByEmailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BankService">

      <wsdl:operation name="createCustomer">

         <wsdl:input message="impl:createCustomerRequest" name="createCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:createCustomerResponse" name="createCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAccount">

         <wsdl:input message="impl:createAccountRequest" name="createAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:createAccountResponse" name="createAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getByBalance">

         <wsdl:input message="impl:getByBalanceRequest" name="getByBalanceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getByBalanceResponse" name="getByBalanceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getByAccountID">

         <wsdl:input message="impl:getByAccountIDRequest" name="getByAccountIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getByAccountIDResponse" name="getByAccountIDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getByTimeStamp">

         <wsdl:input message="impl:getByTimeStampRequest" name="getByTimeStampRequest">

       </wsdl:input>

         <wsdl:output message="impl:getByTimeStampResponse" name="getByTimeStampResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getByAmount">

         <wsdl:input message="impl:getByAmountRequest" name="getByAmountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getByAmountResponse" name="getByAmountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getByDescription">

         <wsdl:input message="impl:getByDescriptionRequest" name="getByDescriptionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getByDescriptionResponse" name="getByDescriptionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doDeposit">

         <wsdl:input message="impl:doDepositRequest" name="doDepositRequest">

       </wsdl:input>

         <wsdl:output message="impl:doDepositResponse" name="doDepositResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doWithdraw">

         <wsdl:input message="impl:doWithdrawRequest" name="doWithdrawRequest">

       </wsdl:input>

         <wsdl:output message="impl:doWithdrawResponse" name="doWithdrawResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doFundsTransfer">

         <wsdl:input message="impl:doFundsTransferRequest" name="doFundsTransferRequest">

       </wsdl:input>

         <wsdl:output message="impl:doFundsTransferResponse" name="doFundsTransferResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByMiddleName">

         <wsdl:input message="impl:getCustomerDataByMiddleNameRequest" name="getCustomerDataByMiddleNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerDataByMiddleNameResponse" name="getCustomerDataByMiddleNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByID">

         <wsdl:input message="impl:getCustomerDataByIDRequest" name="getCustomerDataByIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerDataByIDResponse" name="getCustomerDataByIDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTransaction">

         <wsdl:input message="impl:createTransactionRequest" name="createTransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:createTransactionResponse" name="createTransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByStreet">

         <wsdl:input message="impl:getCustomerDataByStreetRequest" name="getCustomerDataByStreetRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerDataByStreetResponse" name="getCustomerDataByStreetResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByCity">

         <wsdl:input message="impl:getCustomerDataByCityRequest" name="getCustomerDataByCityRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerDataByCityResponse" name="getCustomerDataByCityResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccountDataByBalance">

         <wsdl:input message="impl:getAccountDataByBalanceRequest" name="getAccountDataByBalanceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAccountDataByBalanceResponse" name="getAccountDataByBalanceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByPhone">

         <wsdl:input message="impl:getCustomerDataByPhoneRequest" name="getCustomerDataByPhoneRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerDataByPhoneResponse" name="getCustomerDataByPhoneResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCustomerData">

         <wsdl:input message="impl:getAllCustomerDataRequest" name="getAllCustomerDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllCustomerDataResponse" name="getAllCustomerDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccountDataByID">

         <wsdl:input message="impl:getAccountDataByIDRequest" name="getAccountDataByIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAccountDataByIDResponse" name="getAccountDataByIDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTransactionDataByID">

         <wsdl:input message="impl:getTransactionDataByIDRequest" name="getTransactionDataByIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTransactionDataByIDResponse" name="getTransactionDataByIDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByLastName">

         <wsdl:input message="impl:getCustomerDataByLastNameRequest" name="getCustomerDataByLastNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerDataByLastNameResponse" name="getCustomerDataByLastNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByFirstName">

         <wsdl:input message="impl:getCustomerDataByFirstNameRequest" name="getCustomerDataByFirstNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerDataByFirstNameResponse" name="getCustomerDataByFirstNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByEmail">

         <wsdl:input message="impl:getCustomerDataByEmailRequest" name="getCustomerDataByEmailRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerDataByEmailResponse" name="getCustomerDataByEmailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByState">

         <wsdl:input message="impl:getCustomerDataByStateRequest" name="getCustomerDataByStateRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerDataByStateResponse" name="getCustomerDataByStateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByZip">

         <wsdl:input message="impl:getCustomerDataByZipRequest" name="getCustomerDataByZipRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerDataByZipResponse" name="getCustomerDataByZipResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllAccountData">

         <wsdl:input message="impl:getAllAccountDataRequest" name="getAllAccountDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllAccountDataResponse" name="getAllAccountDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccountDataByType">

         <wsdl:input message="impl:getAccountDataByTypeRequest" name="getAccountDataByTypeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAccountDataByTypeResponse" name="getAccountDataByTypeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTransactionData">

         <wsdl:input message="impl:getAllTransactionDataRequest" name="getAllTransactionDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllTransactionDataResponse" name="getAllTransactionDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDetailsByAccountID">

         <wsdl:input message="impl:getCustomerDetailsByAccountIDRequest" name="getCustomerDetailsByAccountIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerDetailsByAccountIDResponse" name="getCustomerDetailsByAccountIDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccountDetailsByCustomerID">

         <wsdl:input message="impl:getAccountDetailsByCustomerIDRequest" name="getAccountDetailsByCustomerIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAccountDetailsByCustomerIDResponse" name="getAccountDetailsByCustomerIDResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankServiceSoapBinding" type="impl:BankService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getByBalance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getByBalanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getByBalanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getByAccountID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getByAccountIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getByAccountIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getByTimeStamp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getByTimeStampRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getByTimeStampResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getByAmount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getByAmountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getByAmountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getByDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getByDescriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getByDescriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doDeposit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doDepositRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doDepositResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doWithdraw">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doWithdrawRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doWithdrawResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doFundsTransfer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doFundsTransferRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doFundsTransferResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByMiddleName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerDataByMiddleNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerDataByMiddleNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerDataByIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerDataByIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createTransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createTransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByStreet">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerDataByStreetRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerDataByStreetResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByCity">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerDataByCityRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerDataByCityResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccountDataByBalance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountDataByBalanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAccountDataByBalanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByPhone">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerDataByPhoneRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerDataByPhoneResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCustomerData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllCustomerDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllCustomerDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccountDataByID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountDataByIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAccountDataByIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTransactionDataByID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTransactionDataByIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTransactionDataByIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByLastName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerDataByLastNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerDataByLastNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByFirstName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerDataByFirstNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerDataByFirstNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByEmail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerDataByEmailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerDataByEmailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByState">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerDataByStateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerDataByStateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDataByZip">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerDataByZipRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerDataByZipResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllAccountData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllAccountDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllAccountDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccountDataByType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountDataByTypeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAccountDataByTypeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTransactionData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllTransactionDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllTransactionDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerDetailsByAccountID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerDetailsByAccountIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerDetailsByAccountIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccountDetailsByCustomerID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountDetailsByCustomerIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAccountDetailsByCustomerIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankServiceService">

      <wsdl:port binding="impl:BankServiceSoapBinding" name="BankService">

         <wsdlsoap:address location="http://localhost:8080/redesigned-invention/services/BankService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
