WebContent/wsdl/Bank.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.com" xmlns:intf="http://service.com" xmlns:tns1="http://data.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.com"/>
   <element name="getCustomerDataByID">
    <complexType>
     <sequence>
      <element name="customerID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerDataByIDResponse">
    <complexType>
     <sequence>
      <element name="getCustomerDataByIDReturn" type="tns1:CustomerData"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllTransactionData">
    <complexType/>
   </element>
   <element name="getAllTransactionDataResponse">
    <complexType>
     <sequence>
      <element name="getAllTransactionDataReturn" type="tns1:TransactionArray"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_TransactionData">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:TransactionData"/>
    </sequence>
   </complexType>
   <element name="getAllAccountData">
    <complexType/>
   </element>
   <element name="getAllAccountDataResponse">
    <complexType>
     <sequence>
      <element name="getAllAccountDataReturn" type="tns1:AccountArray"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_AccountData">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:AccountData"/>
    </sequence>
   </complexType>
   <element name="getTransactionDataByID">
    <complexType>
     <sequence>
      <element name="transactionID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTransactionDataByIDResponse">
    <complexType>
     <sequence>
      <element name="getTransactionDataByIDReturn" type="tns1:TransactionData"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllCustomerData">
    <complexType/>
   </element>
   <element name="getAllCustomerDataResponse">
    <complexType>
     <sequence>
      <element name="getAllCustomerDataReturn" type="tns1:CustomerArray"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_CustomerData">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:CustomerData"/>
    </sequence>
   </complexType>
   <element name="getAccountDataByID">
    <complexType>
     <sequence>
      <element name="accountID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountDataByIDResponse">
    <complexType>
     <sequence>
      <element name="getAccountDataByIDReturn" type="tns1:AccountData"/>
     </sequence>
    </complexType>
   </element>
   <element name="doDeposit">
    <complexType>
     <sequence>
      <element name="accountID" type="xsd:int"/>
      <element name="amount" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="doDepositResponse">
    <complexType>
     <sequence>
      <element name="doDepositReturn" type="tns1:TransactionData"/>
     </sequence>
    </complexType>
   </element>
   <element name="doWithdraw">
    <complexType>
     <sequence>
      <element name="account_id" type="xsd:int"/>
      <element name="amount" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="doWithdrawResponse">
    <complexType>
     <sequence>
      <element name="doWithdrawReturn" type="tns1:TransactionData"/>
     </sequence>
    </complexType>
   </element>
   <element name="fundsTransfer">
    <complexType>
     <sequence>
      <element name="fromAccountID" type="xsd:int"/>
      <element name="toAccountID" type="xsd:int"/>
      <element name="amount" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="fundsTransferResponse">
    <complexType>
     <sequence>
      <element name="fundsTransferReturn" type="tns1:TransactionArray"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://service.com"/>
   <complexType name="CustomerData">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="customer_id" type="xsd:int"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="first_name" nillable="true" type="xsd:string"/>
     <element name="last_name" nillable="true" type="xsd:string"/>
     <element name="middle_name" nillable="true" type="xsd:string"/>
     <element name="phone" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="street" nillable="true" type="xsd:string"/>
     <element name="zip" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="TransactionData">
    <sequence>
     <element name="account_id" type="xsd:int"/>
     <element name="amount" type="xsd:float"/>
     <element name="balance" type="xsd:float"/>
     <element name="date" nillable="true" type="xsd:string"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="transaction_id" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="TransactionArray">
    <sequence>
     <element name="transactionArray" nillable="true" type="impl:ArrayOf_tns1_TransactionData"/>
    </sequence>
   </complexType>
   <complexType name="AccountData">
    <sequence>
     <element name="account_id" type="xsd:int"/>
     <element name="account_type" nillable="true" type="xsd:string"/>
     <element name="balance" type="xsd:float"/>
    </sequence>
   </complexType>
   <complexType name="AccountArray">
    <sequence>
     <element name="accountArray" nillable="true" type="impl:ArrayOf_tns1_AccountData"/>
    </sequence>
   </complexType>
   <complexType name="CustomerArray">
    <sequence>
     <element name="customerArray" nillable="true" type="impl:ArrayOf_tns1_CustomerData"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCustomerDataByIDResponse">

      <wsdl:part element="impl:getCustomerDataByIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerDataByIDRequest">

      <wsdl:part element="impl:getCustomerDataByID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCustomerDataResponse">

      <wsdl:part element="impl:getAllCustomerDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doWithdrawResponse">

      <wsdl:part element="impl:doWithdrawResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllTransactionDataResponse">

      <wsdl:part element="impl:getAllTransactionDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountDataByIDResponse">

      <wsdl:part element="impl:getAccountDataByIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doWithdrawRequest">

      <wsdl:part element="impl:doWithdraw" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fundsTransferRequest">

      <wsdl:part element="impl:fundsTransfer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllTransactionDataRequest">

      <wsdl:part element="impl:getAllTransactionData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllAccountDataRequest">

      <wsdl:part element="impl:getAllAccountData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doDepositRequest">

      <wsdl:part element="impl:doDeposit" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllAccountDataResponse">

      <wsdl:part element="impl:getAllAccountDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fundsTransferResponse">

      <wsdl:part element="impl:fundsTransferResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTransactionDataByIDRequest">

      <wsdl:part element="impl:getTransactionDataByID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTransactionDataByIDResponse">

      <wsdl:part element="impl:getTransactionDataByIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doDepositResponse">

      <wsdl:part element="impl:doDepositResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCustomerDataRequest">

      <wsdl:part element="impl:getAllCustomerData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountDataByIDRequest">

      <wsdl:part element="impl:getAccountDataByID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Bank">

      <wsdl:operation name="getCustomerDataByID">

         <wsdl:input message="impl:getCustomerDataByIDRequest" name="getCustomerDataByIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerDataByIDResponse" name="getCustomerDataByIDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTransactionData">

         <wsdl:input message="impl:getAllTransactionDataRequest" name="getAllTransactionDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllTransactionDataResponse" name="getAllTransactionDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllAccountData">

         <wsdl:input message="impl:getAllAccountDataRequest" name="getAllAccountDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllAccountDataResponse" name="getAllAccountDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTransactionDataByID">

         <wsdl:input message="impl:getTransactionDataByIDRequest" name="getTransactionDataByIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTransactionDataByIDResponse" name="getTransactionDataByIDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCustomerData">

         <wsdl:input message="impl:getAllCustomerDataRequest" name="getAllCustomerDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllCustomerDataResponse" name="getAllCustomerDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccountDataByID">

         <wsdl:input message="impl:getAccountDataByIDRequest" name="getAccountDataByIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAccountDataByIDResponse" name="getAccountDataByIDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doDeposit">

         <wsdl:input message="impl:doDepositRequest" name="doDepositRequest">

       </wsdl:input>

         <wsdl:output message="impl:doDepositResponse" name="doDepositResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doWithdraw">

         <wsdl:input message="impl:doWithdrawRequest" name="doWithdrawRequest">

       </wsdl:input>

         <wsdl:output message="impl:doWithdrawResponse" name="doWithdrawResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fundsTransfer">

         <wsdl:input message="impl:fundsTransferRequest" name="fundsTransferRequest">

       </wsdl:input>

         <wsdl:output message="impl:fundsTransferResponse" name="fundsTransferResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankSoapBinding" type="impl:Bank">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCustomerDataByID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerDataByIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerDataByIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTransactionData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllTransactionDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllTransactionDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllAccountData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllAccountDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllAccountDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTransactionDataByID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTransactionDataByIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTransactionDataByIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCustomerData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllCustomerDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllCustomerDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccountDataByID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountDataByIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAccountDataByIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doDeposit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doDepositRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doDepositResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doWithdraw">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doWithdrawRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doWithdrawResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fundsTransfer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fundsTransferRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fundsTransferResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankService">

      <wsdl:port binding="impl:BankSoapBinding" name="Bank">

         <wsdlsoap:address location="http://localhost:8080/redesigned-invention/services/Bank"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
